DOMAIN=demo.whizus.net
PROXY_ADDRESS_FORWARDING=true
DB_VENDOR=mysql
DB_USER=keycloak
DB_DATABASE=keycloak
DB_PASSWORD=<SOME_PASSWORD>
DB_ADDR=mysql
DB_PORT=3306
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=<SOME_OTHER_PASSWORD>
IPA_PASSWORD=<ANOTHER_PASSWORD>

MYSQL_ROOT_PASSWORD=<ESPECIALLY_SECURE_PASSWORD>
MYSQL_DATABASE=keycloak
MYSQL_USER=keycloak
MYSQL_PASSWORD=<SOME_PASSWORD>